<!DOCTYPE html>
<html>
<%- include partials/header.ejs %>

<body>
    <div class=" text-center center-block">
        <h1>
            <%= message %>
        </h1>
        <div class="row" style="margin-top: 70px;">
            <div class="col-md-4"></div>
            <div class="col-md-4">
               <div id="chatArea">
               </div>
               <form id="myForm"  action="/" method="post">         
                  <div class="form-group">
                     <button type="submit" class="btn-lg btn-success">Start</button>
                  </div>
               </form>
            </div>
         </div>
    </div>

</body>
<%- include partials/footer.ejs %>

</html>
